* {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    margin: 1 32px 0 70;
}



#page {
    width: 900px;
    margin: auto;
    min-height: 500px;
}

#logo {
    background-image: url('/Images/wallpaper3.jpg');
    vertical-align: middle;
    height: 177px;
}

#menu ul {
    border: 0 solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lavenderblush;
}

#content {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.3);
}

li {
    display: inline;
}

a {
    display: inline-block;
    padding: 10px;
    color: palevioletred;
}

    a:hover {
        color: white;
    }

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 50%;
    width: 73%;
    margin: 0 auto 0 auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*The style below will apply to the element with an
id of "header" */
#header {
    width: 888px;
    height: 238px;
    background-color: floralwhite;
    margin: 10px;
}

form1 {
    background-color: transparent;
}

ul.items li {
    width: 50px;
    display: inline-block;
    vertical-align: top;

    padding: 5px;
    margin: auto;
}

input[type=text], input[type=password] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 10px;
    margin: 10px 0 0 0;
    display: inline-block;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    text-align: center;
}

